[core]
	commitGraph = true
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2
[url "https://github.com/Shopify/"]
	insteadOf = git@github.com:Shopify/
	insteadOf = git@github.com:shopify/
	insteadOf = ssh://git@github.com/Shopify/
	insteadOf = ssh://git@github.com/shopify/
[user]
	name = Raphael Lomotey
	email = raphael.lomotey@shopify.com
[include]
	path = /Users/raphaellomotey/.config/dev/gitconfig
